<div id="container" style="display: flex">
<h1>Hello</h1>
<h1 class="waving" data-hover="👋"></h1>
</div>
<style>
    
    .waving:before {
        content: attr(data-hover);
    }

    .waving{
        animation-name: wave-animation;
        animation-duration: 3.0s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
    }

    @keyframes wave-animation {
        0% {
            transform: rotate( 0.0deg)
        }
        10% {
            transform: rotate(14.0deg)
        }
        20% {
            transform: rotate(-8.0deg)
        }
        30% {
            transform: rotate(14.0deg)
        }
        40% {
            transform: rotate(-4.0deg)
        }
        50% {
            transform: rotate(10.0deg)
        }
        60% {
            transform: rotate( 0.0deg)
        }
        100% {
            transform: rotate( 0.0deg)
        }
    }

</style>